# flyctl launch added from .gitignore
**/.DS_Store
**/.ENV
**/.env

# flyctl launch added from back-end/.gitignore
back-end/**/node_modules

back-end/**/.env
back-end/**/.ENV

# flyctl launch added from telegram_bot/.gitignore
telegram_bot/**/.DS_Store
telegram_bot/**/.ENV
telegram_bot/**/.env
telegram_bot/**/node_modules
telegram_bot/**/uploads
telegram_bot/**/cryptic-episode-476814-g2-88ac169c4d89.json
telegram_bot/**/config
fly.toml
